.App{
    margin:0;
    padding:0;
    width:100%;
    height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;

}
.center{
    width:200px;
    height:200px;
    background-image: url("https://framerusercontent.com/images/M4SNURkNYCDjIiopKdiL689jOQ.svg");
}